@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --startColor: hsl(0, 100%, 75%);
  --stopColor: hsl(0, 100%, 75%);
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{

  z-index: 1;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.hasMoved{
  left:15vw;
}


body {
  
  font-family: 'Inter', sans-serif;
  height: 100vh;
 overflow: hidden;
  background-color: rgb(249, 249, 249);
  /* background-color: rgb(255, 255, 255); */
}

.interface{
  pointer-events: none;
  z-index: 2;
  top:0;
  left:0;
  position: absolute;
  width:100%;
  height:100%;
 
  display: grid;
  place-items: center;
  overflow: hidden;
}

h1{
  width: 100vw;
  position: absolute;
  top:0.5vw;
  left:0vw;
  padding-left: 3vw;
  padding-bottom: 1vh;
  padding-top: 0.5vh;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
svg {
 /* width: 100vmin; */
  /* height: 100vmin; */
}

path {
  cursor: pointer;
}

.emotionsDiv{
  color: white;
  text-transform: uppercase;
}

.pointDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%,-50%);
  width: 40vw;
  height: 40vw;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;

}
.dot{
  /* transform: translate(-50%,-50%); */
  margin: 0px;
  padding:0px;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);

  background: black;
  border-radius: 50%;
  padding:20px;
  border: solid 1px black;
  background-clip: content-box;
  background-origin: content-box;
  box-sizing: content-box;
  opacity: 1;
}

.dotPulse{
  padding:22px;
  /* background-color: red; */
  animation: avatar-pulse 2s infinite;
  transition: background-color 0.5s;
  transition: 0.5s ease all;
}


@keyframes avatar-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(126, 126, 126, 0.414);
    
  }
  100%{
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    
  }
}




.invisible{
  /* opacity: 0; */
  transition: all 0.5s ease-in-out;
  left:-30vw !important;
}
.emotionTag{
  position: absolute;
  text-align: center;
  color: rgb(0, 0, 0);
  /* transform: translate(-200%,-100%); */
  margin-top: -10vh;
  transition: all 0.3s ease-in-out;
}

.emotionTagJump {
  margin-top: -11vh;
}

.pointDiv:hover{
  opacity: 1;
}

textarea, input { outline: none; }
/* checkbox */
.checkbox {
  pointer-events:visible;
  width: 40px;
  height: 20px;
  position: absolute;
  top:1.5vw;
  right:2.5vw;
  cursor: pointer;
  appearance: none;
}
.checkbox::before {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 100px;
  background-color: #ffffff00;
  border: solid 1px black;
  transition: 0.3s cubic-bezier(0.73, 0, 0.23, 1);
}
.checkbox::after {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100px;
  background-color: rgb(0, 0, 0);
  
  transition: 0.3s cubic-bezier(0.73, 0, 0.23, 1);
}
.checkbox:checked::before {
  background-color: #f2f4ff00;
}
.checkbox:checked::after {
  left: 20px;
  background-color: #000000;
}



.stats{
  padding-left:0.5vw;
  z-index: 100;
  width:30vw;
  position: absolute;
  top:15vh;
  left:3vw;
  transition: all 0.5s ease-in-out;
  max-height: 80vh;
  overflow: hidden;
  pointer-events: visible;
}

.statMessage{
  padding-top: 1vh;
}

.emotionStat{
  display: flex;
  flex-direction: row;
  width: 5vw;
  
}

.material-icons{
  font-size:17px !important;
}

.statTitle{
  display: flex;
  flex-direction: row;
  align-items:stretch;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;

  border-bottom: solid 1px rgb(160, 160, 160);
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}
.singleStat{
  /* font-size: 12px; */
  padding-bottom: 1vh;
}

.userName{
  width:10vw;
}

.appearMsg{
  
  height:5vh !important;
}

.statContent{
  overflow: hidden;
  height:0vh;
  transition: all 0.5s ease-in-out;
  color: rgb(110, 110, 110);
}

#resetButton{
  z-index: 5;
  position: absolute;
  right:0.5vw;
  top:5vh;
  border-bottom:solid 1px black ;
}



#circle{
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  position:fixed;
  border-radius:50%;
}

#circleDot{
  z-index: 1;
  width: 5px;
  height: 5px;
 background-color: black;
  position:fixed;
  border-radius:50%;
}